$sidebar-width: 15rem;
$header-height: 5rem;

$color-white: #fff;
$color-black: #000;
$color-primary: #8c8c8c;
$color-primary-light: #b5b5b5;
$color-secondary: #52b6ff;
$color-divider: rgba($color-black, .4);

